.indexCol {
  background-color: #f1f1f1;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  height: calc(100vh - 3rem);
}
.postWriting {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  z-index: 3;
}
.postRow {
  width: 100%;
  bottom: 0px;
  padding-left: 15px;
}
