body {
  font-family: "Roboto", sans-serif;
  color: #484848;
}
header {
  z-index: 1;
}
header h1 {
  font-size: 25px;
}
.sidebar-unlogged {
  background-color: #f1f1f1;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #d0d0d0;
}
.btnForm {
  border: 1px solid #f1f1f1;
  background-color: #888888;
  transition: background-color 0.4s ease, border 0.4s ease;
}
.btnForm:hover {
  background-color: #484848;
  border: 1px solid #ffffff;
}
input[type="checkbox"] {
  margin-left: 7px;
}
