
{% extends "layout.j2.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='profile.css') }}" />
{% endblock %}
{% block title %}Logged-in'{% endblock %}
{% block content %}
<div class="row pt-5">
    <div class="col-8 offset-2 pt-5">
        <h1 class="mt-4">Change password</h1>

        <form method="POST" action="/edit_password" class="mb-5 pt-4
            profileForm">
            <div class="form-group row mt-5">
                <label for="edit_current_password" class="col-3 d-flex
                    flex-column
                    justify-content-end"><b>Current password</b></label>
                <div class="col-9">
                    <input type="password" class="form-control"
                        id="EditInputCurrPassword"
                        name="edit_current_password"
                        placeholder="Current password" required>
                </div>
                {% with errors =
                get_flashed_messages(category_filter=["current"]) %}
                {% if errors %}
                {% for msg in errors %}
                <div class="alert alert-danger mt-2 w-100" role="alert">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="form-group row mt-5">
                <label for="edit_new_password" class="col-3 d-flex
                    flex-column
                    justify-content-end"><b>New password</b></label>
                <div class="col-9">
                    <input type="password" class="form-control"
                        id="EditInputNewPassword"
                        name="edit_new_password"
                        placeholder="New password" required>
                </div>
            </div>
            <div class="form-group row mt-5">
                <label for="edit_new_password_confirm" class="col-3 d-flex
                    flex-column
                    justify-content-end"><b>Confirm new password</b></label>
                <div class="col-9">
                    <input type="password" class="form-control"
                        id="EditInputNewPasswordConfirm"
                        name="edit_new_password_confirm"
                        placeholder="Confirm new password" required>
                </div>
                {% with errors =
                get_flashed_messages(category_filter=["new"]) %}
                {% if errors %}
                {% for msg in errors %}
                <div class="alert alert-danger mt-2 w-100" role="alert">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="form-group col-4 offset-8 d-flex flex-row
                justify-content-end pr-0 mt-5">
                <button type="submit" class="btn btn-secondary mr-2">Submit</button>
                <a class="btn btn-outline-secondary"
                    href="/profile" role="button">
                    Profile
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
