
{% for post in posts %}
<div class="row">
    <div class="col-10 offset-1 card p-3 mb-3">
        <h5 class="card-title">
            <a href="/user/{{ post.user.id }}">
                {{ post.user.first_name }} {{ post.user.last_name }}
            </a>
        </h5>
        <p class="card-content">
            {% if post.content|length <180 %}
                {{ post.content }}
                {% else %}
                {{ post.excerpt }} <a href="/post/{{ post.id }}">Read more</a>
            {% endif %}
        </p>
        <p class="card-subtitle mb-2 text-muted">{{ post.posted_at.strftime("%d
            %b, %Y") }}</p>
        {% if post.likes|length > 0 %}
        <p>{{ post.likes|length }} Like(s)</p>
        {% endif %}
        {% include "like.j2.html" %}
    </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
{% set rowClass = "paginationContainer" %}
{% else %}
{% set rowClass = "" %}
{% endif %}

<div class="row {{ rowClass }}">
    <div class="col-12 d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                {% if page == 1 %}
                <li class="page-item disabled" test="previous">
                    <a class="page-link" href="#">Previous</a>
                </li>
                {% else %}
                <li class="page-item" test="previous">
                    <a class="page-link" href="/?page={{page-1}}">Previous</a>
                </li>
                {% endif %}
                {% for iteration in pages %}
                {% if iteration is not none %}
                {% if iteration == page %}
                <li class="page-item disabled" test="{{page}}">
                    <a class="page-link" href="#">{{iteration}}</a>
                </li>
                {% else %}
                <li class="page-item" test="{{page}}">
                    <a class="page-link" href="/?page={{iteration}}">{{iteration}}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="page-item disabled" test="...">
                    <a class="page-link" href="#">...</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page == nb_pages %}
                <li class="page-item disabled" test="next">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% else %}
                <li class="page-item" test="next">
                    <a class="page-link" href="/?page={{page+1}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>