<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',
            filename='styles.css') }}" />
        <title>{% block title %}{% endblock %} - Bloggin'</title>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid pl-0">
            {% if current_user.is_authenticated %}
            <header class="position-fixed w-100 d-flex justify-content-between
                shadow p-2 mb-5 bg-white rounded">
                <h1 class="ml-4">Bloggin'</h1>
                <nav class="mt-1 mb-1 mr-4">
                    {% if not request.url.endswith("/profile") %}
                    <a href="/profile" class="mr-4">Profile</a>
                    {% endif %}
                    {% if not request.url.endswith("/") %}
                    <a href="/" class="mr-4">Index</a>
                    {% endif %}
                    <a href="/logout">Logout</a>
                </nav>
            </header>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
