<div class="row position-fixed postRow"><div class="postWriting pt-3 col-8
        offset-2">
        <h4 class="text-center">How do you feel like today ?</h4>
        <form action="/write_post" method="POST" class="mt-3 p-3">
            <div class="form-group">
                <textarea class="form-control" id="WritePostTextarea"
                    name="write_post_content" required></textarea>
                <button type="submit" class="btn btn-outline-secondary mt-3 mb-2
                    float-right">Post</button>
            </div>
        </form>
    </div></div>